.event-main {
  position: absolute;
  margin-top: 45px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}
.imgs {
  width: 100vw;
  position: relative;
}
.imgs img {
  width: 100%;
  height: 150px;
}
.gy {
  margin-top: 15px;
  background-color: #fff;
  margin-bottom: 50px;
  .list {
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 0 !important;
  }
  .img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
  .price {
    position: absolute !important;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: #e7bf79;
    background: none;
  }
  .gg {
    position: absolute;
    bottom: 50px;
    right: 20px;
    font-size: 14px;
    color: #fff;
  }
  .title {
    position: absolute;
    bottom: 70px;
    right: 20px;
    color: #fff;
    font-size: 16px;
  }
}
.gy > p {
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.imgs span {
  width: 100%;
  height: 27px;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  text-indent: 0.7rem;
  background: rgba(0, 0, 0, 0.5);
  line-height: 27px;
  color: #fff;
  font-size: 14px;
}
.keepOn {
  background: #fff;
  margin-top: 10px;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  color: #565656;
  p {
    margin: 5px 0;
  }
  .img-conent img {
    width: 100%;
    height: 150px;
    margin: 3px 0;
    border-radius: 5px;
  }
}
.price {
  background: #fff;
  font-size: 14px;
  padding: 0 7px 0 7px;
  .price_right {
    text-align: right;
  }
  .price-content {
    padding: 20px 5px;
  }
  .price-bottom {
    margin-top: 20px;
  }
}
