.evetn-bar {
  width: 100%;
  background: #3d3d3d;
  color: #e1bf8a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.h3 {
  text-align: center;
  font-size: 18px;
}
.evetn-bar .evetn-icon {
  color: #e1bf8a;
}
.coupon {
  background: #fff;
  .van-tabs__nav--card {
    width: 100% !important;
  }
  .coupon-content {
    padding: 10px 20px 10px 20px;
    .coupon-item {
      height: 100px;
      background: #fc5b7a;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      strong {
        font-size: 20px;
      }
      .coupon-Large {
        font-size: 30px;
      }
      .coupon-item-left {
        border-right: 1px dotted #fff;
        padding-right: 50px;
        width: 50%;
      }
    }
  }
  .coupon-Expired .coupon-item {
    background: #cccccc;
  }
}
.wrapper-content {
  border: 1px solid #fc5b7a;
  border-radius: 5px;
  padding: 5px;
  color: #fc5b7a;
  margin-top: 10px;
  .wrapperLeft {
    border-right: 1px dashed #d3d3d3;
    height: 60px;
    line-height: 60px;
    h2 {
      font-size: 50px;
    }
    span {
      font-size: 16px;
    }
  }
  .wrapper-center {
    font-size: 12px;
    color: #9f9f9f;
    line-height: 20px;
    border-right: 1px dashed #d3d3d3;
    .weight {
      color: black;
    }
  }
  .wrapper-right {
    height: 60px;
    padding: 8px;
  }
  .wrapper-right-button {
    width: 60px;
    background-color: grey;
    border-radius: 50px;
    margin-top: -5px;
    margin-left: 8px;
    font-size: 12px;
    color: white;
    text-align: center;
    button {
      background: #fc5a7a;
      color: #fff;
      padding: 0 10px;
      font-size: 12px;
      border-radius: 11px;
    }
  }
  .wrapper-right-icon {
    text-align: center;
    height: 0;
    padding-bottom: 40px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
