.evetn-bar{
  width: 100%;
  background: #3d3d3d;
  color: #E1BF8A;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.evetn-bar .evetn-icon{
  color: #E1BF8A;
}
.Give{
  background: #fff;
  text-align: center;
  padding-top: 100px;
  position: absolute;
  top:45px;
  left: 0;
  bottom: 0;
  right: 0;
  input{
    border: 1px solid #777777;
    margin: 15px 0;
    text-align: center;
    padding: 0px 50px;
  }
  .Give-Friends{
    margin-top: 50px;
  }
  .Give-type{
    margin-top: 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    .Give-type-icon{
      width: 60px;
      overflow: hidden;
      text-align: center;
      img{
        width: 30px;
      }
    }
  }
}
