.MyCollage {
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #efeff7;
  .MyCollage-item {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    .MyCollage-item-content {
      display: flex;
      img {
        width: 80px;
        height: 80px;
      }
      .MyCollage-info {
        margin-left: 10px;
      }
    }
  }
  .MyCollage-bottom {
    display: flex;
    border-top: 1px solid #efeff7;
    justify-content: flex-end;
    font-size: 14px;
    margin-top: 5px;
    padding-top: 10px;
    .MyCollage-bottom-state {
      flex: auto;
      color: #f56d8b;
      line-height: 30px;
    }
    button {
      background: none;
      border: 1px solid #a1a1a1;
      padding: 1px 5px;
      margin-left: 5px;
      color: #a1a1a1;
    }
  }
}
.MyCollage-info-money {
  margin-top: 20px;
  color: #f24b71;
  span {
    color: #b0b0b0;
    margin-left: 20px;
    text-decoration: line-through;
  }
}
