.evetn-bar {
  width: 100%;
  background: #3d3d3d;
  color: #e1bf8a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.evetn-bar .evetn-icon {
  color: #e1bf8a;
}
.OrderDetails {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #efeff7;
  .OrderDetails-top-group {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    .express-img {
      width: 20px;
      height: 20px;
      img {
        width: 100%;
      }
    }
    .OrderDetails-top-info {
      color: #fea651;
      padding: 0 10px;
    }
    .OrderDetails-top-info-end {
      color: #575757;
      padding: 0 10px;
    }
    .telephone {
      float: right;
      margin-right: 8px;
    }
    .express-date {
      color: #9a9a9a;
      font-size: 10px;
    }
  }
  .OrderDetails-top-group-end {
    color: #5f5f5f;
  }
}
.margin-big {
  margin-top: 45px;
}
.margin-small {
  margin-top: 10px;
}
.border-bottom {
  border-bottom: 1px solid #f0eff5;
}
.pricepro {
  background: #fff;
  font-size: 14px;
  padding: 0 7px 0 7px;
  border-top: 1px solid #efeff7;
  .price_right {
    text-align: right;
  }
  .price-content {
    padding: 10px 5px;
  }
  .price-bottom {
    margin-top: 20px;
  }
}
.item {
  overflow: hidden;
  display: flex;
  background: #fff;
  .item-img {
    width: 90px;
    height: 90px;
    padding: 10px;
  }
  .item-info {
    flex: 1;
    padding: 8px;
    min-width: 0;
    .item-title {
      font-weight: 500;
      font-size: 15px;
    }
    .item-desc {
      line-height: 16px;
      color: #b8b8b8;
      font-size: 12px;
      background: #e8e8e8;
      width: 110px;
      text-align: center;
      height: 16px;
    }
    .item-button {
      margin-top: 30px;
      span {
        float: right;
        font-size: 12px;
        margin-top: 8px;
      }
    }
  }
}
.price-wrapper {
  margin-top: 10px;
}
.money {
  font-size: 14px;
  color: #f4547d;
}
.OrderDetails-bottom {
  margin-top: 10px;
  background: #fff;
  color: #969696;
  font-size: 12px;
  padding: 20px;
  overflow: hidden;
  .OrderDetails-bottom-button {
    float: right;
    button {
      background: none;
      border: 1px solid #858585;
      padding: 0 5px;
      border-radius: 10px;
      margin: 0 5px;
      margin-top: 10px;
    }
    .button-confirm {
      border: 1px solid #f21150;
      color: #f21150;
    }
  }
}
.shareIt {
  margin-top: 10px;
  img {
    width: 100%;
  }
}
