.gy {
  margin-top: 15px;
  background-color: #fff;
  margin-bottom: 50px;
}
.gy > p {
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.list {
  width: 100%;
  position: relative;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 0 !important;
}
.img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.price {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  color: #e7bf79;
}
.gg {
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-size: 12px;
  color: #fff;
}
.title {
  position: absolute;
  bottom: 70px;
  right: 20px;
  color: #fff;
  font-size: 12px;
}
