.evetn-bar {
  width: 100%;
  background: #3d3d3d;
  color: #e1bf8a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.evetn-bar .evetn-icon {
  color: #e1bf8a;
}
.coupon {
  background: #fff;
  .van-tabs__nav--card {
    width: 100% !important;
  }
  .coupon-content {
    padding: 10px 20px 10px 20px;
    .coupon-item {
      height: 100px;
      background: #fc5b7a;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      strong {
        font-size: 20px;
      }
      .coupon-Large {
        font-size: 50px;
      }
      .coupon-item-left {
        border-right: 1px dotted #fff;
        padding-right: 50px;
      }
    }
  }
  .coupon-Expired .coupon-item {
    background: #cccccc;
  }
}
