.event-index {
  margin: 0px 0 5px 0;
  background-color: #fff;
  padding: 15px 0 15px 0;
}
.e-row {
  text-align: center;
}
.event-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}
