img{width: 100%;border: 0;vertical-align: middle}
#app{background-color: #efeff7;overflow: auto;}
p{
    margin: 20px 0px;
}
.img{
    width:100%;
}
.discript{
    width:100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 1px;
    padding-top:1px; 
    margin-top: -10px;
    font-size:18px;
    background-color: #030303;
    text-align: left;
    color: #fff;
}
.title{
   margin-bottom:5px; 
}
.subtitle{
   font-size: 12px;
   color: #b5b5b5;
   margin: 0px;
}
.price{
   font-size: 18px;
   color: #E7BF7A;
   font-weight: bold;
}
.old{
   text-decoration:line-through;
   color:#b5b5b5;
   font-size: 14px;
   margin-left: 20px;
}
.discount{
   float: right;
   margin-right: 20px;
}
.xinxi{
   background-color: #fff;
   text-align: left;
   font-size: 12px;
   color: #000;
   padding: 1px 20px;
}
.type{
   display: inline-table;
   border:1px solid #FC1137;
   color: #FC1137;
   padding:2px 5px;
   border-radius: 2px;
}
.xinxi p>span:last-child{
   margin-left: 10px;
}
.details{
   width: 100%;
   margin-top: 15px;
   margin-bottom: 50px;
   background-color: #fff;
}
.details_title{
   padding-top: 10px;
   font-size: 12px;
   color: #737373;
   text-align: center
}
img{
   width:100%;
}