.cart-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 50px;
  background-color: #efeff7;
  overflow: auto;
}

.cart-info {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.cart-info-span {
  margin-left: 15px;
}
.cart-info__all {
  display: flex;
  align-items: center;
  flex: 0 30%;
}
.leary {
  text-align: center;
}
.leary img {
  margin-top: 200px;
  width: 197px;
  height: 197px;
}
.cart-info__btn {
  background-color: #e1bf8a;
  color: #fff;
  border-radius: 30px;
  padding: 0 40px;
  flex: 0 70%;
}
