.d-content {
  img {
    width: 100%;
    height: 100%;
    border: 0;
    vertical-align: middle;
  }
}
.d-video {
  img {
    width: 100%;
    height: 100%;
    border: 0;
    vertical-align: middle;
  }
}
.e-title {
  padding: 10px;
  text-align: left;
  background: #fff;
  p {
    font-weight: bold;
    font-size: 18px;
  }
  span {
    font-size: 13px;
    color: #999;
  }
}
